FSSBrokerService/Connected Services/DirectPayments/GatewayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://asystems.fss" elementFormDefault="qualified" targetNamespace="http://asystems.fss" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://docs.fss.ru/ExtService/GatewayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" />
  <xs:import schemaLocation="http://docs.fss.ru/ExtService/GatewayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.DataAccess.Model" />
  <xs:element name="SendFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" minOccurs="0" name="SendFileResult" nillable="true" type="q1:UploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.DataAccess.Model" minOccurs="0" name="filter" type="q2:DateFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.DataAccess.Model" minOccurs="0" name="UploadsGetResult" nillable="true" type="q3:ArrayOfUPLOADS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGetByExtID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGetByExtIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.DataAccess.Model" minOccurs="0" name="UploadGetByExtIDResult" nillable="true" type="q4:UPLOADS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>