FSSExtensionsTest/Connected Services/DirectPayments_winService/directPayments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://asystems.fss" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://asystems.fss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://asystems.fss/Imports">
      <xsd:import schemaLocation="http://localhost:9001/directPayments?xsd=xsd0" namespace="http://asystems.fss" />
      <xsd:import schemaLocation="http://localhost:9001/directPayments?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" />
      <xsd:import schemaLocation="http://localhost:9001/directPayments?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/directPayments?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.DataAccess.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGatewayService_SendFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_SendFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFileResponse" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_SendFile_GeneralFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" name="detail" element="q1:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadsGet" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadsGet_GeneralFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" name="detail" element="q2:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadGetByExtID_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadGetByExtID" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadGetByExtID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadGetByExtIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_UploadGetByExtID_GeneralFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" name="detail" element="q3:GeneralFault" />
  </wsdl:message>
  <wsdl:portType name="IGatewayService">
    <wsdl:operation name="SendFile">
      <wsdl:input wsaw:Action="http://asystems.fss/IGatewayService/SendFile" message="tns:IGatewayService_SendFile_InputMessage" />
      <wsdl:output wsaw:Action="http://asystems.fss/IGatewayService/SendFileResponse" message="tns:IGatewayService_SendFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://asystems.fss/IGatewayService/SendFileGeneralFaultFault" name="GeneralFault" message="tns:IGatewayService_SendFile_GeneralFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadsGet">
      <wsdl:input wsaw:Action="http://asystems.fss/IGatewayService/UploadsGet" message="tns:IGatewayService_UploadsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://asystems.fss/IGatewayService/UploadsGetResponse" message="tns:IGatewayService_UploadsGet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://asystems.fss/IGatewayService/UploadsGetGeneralFaultFault" name="GeneralFault" message="tns:IGatewayService_UploadsGet_GeneralFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadGetByExtID">
      <wsdl:input wsaw:Action="http://asystems.fss/IGatewayService/UploadGetByExtID" message="tns:IGatewayService_UploadGetByExtID_InputMessage" />
      <wsdl:output wsaw:Action="http://asystems.fss/IGatewayService/UploadGetByExtIDResponse" message="tns:IGatewayService_UploadGetByExtID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://asystems.fss/IGatewayService/UploadGetByExtIDGeneralFaultFault" name="GeneralFault" message="tns:IGatewayService_UploadGetByExtID_GeneralFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>