FSSExtensionsTest/Connected Services/DirectPayments_winService/directPayments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AS.FSS.Gateway.ExtService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadResult" nillable="true" type="tns:UploadResult" />
  <xs:complexType name="GeneralFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFault" nillable="true" type="tns:GeneralFault" />
</xs:schema>